body{
  font-family: "Montserrat";
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fmarvelcinematicuniverse.fandom.com%2Fwiki%2FUser_blog%3AOlieRendch%2FThe_Avengers_Review_by_Blathereen&psig=AOvVaw1kahQfWIBthIL7Y6W0Zt3x&ust=1610463962990000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCOCu-_uTlO4CFQAAAAAdAAAAABAI");
  background-repeat: no-repeat;
  background-size: cover;
}
.head{
  margin-top: 40px;
}
h4, h1{
  color: white;
  text-align: center;
  margin: 0px auto;
  padding: 0px;
  display: block;
}
p{
  color: white;
}
form{
  text-align: right;
}
input{
  border-radius: 20px;
  height: 30px;
  text-align: center;
}
#check{
  border-radius: 20px;
  height: 30px;
  width: 100px;
  text-align: center;
  margin: auto 10px;
}
.response{
  text-align: center;
  color: white;
  display: none;
}
.next{
  color: black;
  text-align: center;
  padding: 5px;
  background: white;
  border-radius: 20px;
  height: 30px;
  margin: 10px 0px;
  text-decoration: none;
  display: none;
}
i{
  padding: 0px 10px;
}
